.main{
  width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  background-color: black;
  color: white;
}
h1{
  text-align: center;
}
input[type="text"]{
  width: 385px;
  height: 30px;
  outline: 0;
  border: none;
  font-size: 1.5em;
  background: white;
  margin-right: 10px;
  padding: 5px;
}
button{
  position:relative;
  width: 85px;
  height: 40px;
  font-size: 1.3em;
  outline:black;
  border-radius:5px;
  background-color: black;
  color: white;
  
}
.todolist{
  background-color: white;
  margin-top: 20px;
  padding: 10px 40px 10px 0px;
}
ul{
  list-style: none;
}
li{
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 1.3em;
}
a{
  float: right;
  text-align: right;
  color: black;
  font-size: 1.3em;
  cursor: pointer;
}
.delete{
  background-color: black;
  text-align: center;
  padding: 0px 4px 0px 4px;
  color: white;
  cursor: pointer;
}
